---
layout: tunnel
title: "Nombre de salariés du sexe sous-représenté parmi les 10 salariés ayant perçu les plus hautes rémunérations"
---

<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>{% include input.html type="number" name="hautesremunerations.resultat" label="Résultat en nombre de salariés" min=0 max=9 %}</div>
</fieldset>

<fieldset>
  <div class=row>{% include select.html name="hautesremunerations.favorable" empty="true" label="Sexe des salariés sur-représentés" %}</div>
</fieldset>

<fieldset class=note>
  <div class=row>{% include input.html type="number" name="hautesremunerations.note" label="Nombre de points obtenus sur l'indicateur" min=0 max=35 %}</div>
</fieldset>

<script>
  document.onready = () => {
    const favorableOptions = [
      { value: 'femmes', label: "Femmes" },
      { value: 'hommes', label: "Hommes" }
    ]
    buildSelectOptions(selectField('hautesremunerations.favorable'), favorableOptions)
  }
</script>
