---
layout: tunnel
title: "Ecart de rémunération entre les femmes et les hommes"
---
<h1>{{ page.title }}</h1>

<fieldset>
  <div class=row>
    <div>{% include radios.html name="indicateur.calcul" label="Modalités de calcul de l'indicateur relatif à l'écart de rémunération entre les femmes et les hommes" required="true" block="true" %}</div>
  </div>
</fieldset>

<fieldset id="fieldset-cse">
  <div class=row>
    {% include input.html type="date" name="indicateur.cse" label="Date de consultation au CSE" required=true %}
  </div>
</fieldset>

<fieldset id="fieldset-niveaux">
  <div class=row>{% include input.html type="number" name="indicateur.niveaux" label="Nombre de coefficients ou niveaux pour les modalités de calcul" min=1 max=50 %}</div>
</fieldset>

<fieldset id="fieldset-motif">
  <div class=row>{% include select.html name="indicateur.motif" empty="true" label="Précision du motif de non calculabilité de l'indicateur" %}</div>
</fieldset>

<fieldset id="fieldset-autre_motif">
  <div class=row>{% include textarea.html name="indicateur.autre_motif" label="Préciser le motif" %}</div>
</fieldset>

<script>
  document.onready = () => {
    const motifOptions = [
      { value: '40', label: "Effectif des groupes valides inférieur à 40% de l'effectif total" },
      { value: 'autre', label: "Autre motif" }
    ]
    buildSelectOptions(selectField('indicateur.motif'), motifOptions)
    const calculOptions = [
      {value: "coef", label: "Par niveau ou coefficient hiérarchique en application de la classification de branche"},
      {value: "coef-autre", label: "Par niveau ou coefficient hiérarchique en application d'une autre méthode de cotation des postes"},
      {value: "csp", label: "Par catégorie socio-professionnelle"},
      {value: "nc", label: "L’indicateur n’est pas calculable"},
    ]
    buildRadioOptions(selectField('indicateur.calcul'), calculOptions, "csp")

    const switcher = selectField('indicateur.calcul')
    const indicateurMotif = selectField('indicateur.motif')
    toggleFields()
    switcher.addEventListener('change', toggleFields)
    indicateurMotif.addEventListener('change', toggleFields)

    function toggleFields() {
      const value = document.querySelector('[name="indicateur.calcul"]:checked').value
      toggleField('#fieldset-cse', ['coef', 'autre'].includes(value))
      toggleField('#fieldset-niveaux', ['coef', 'autre'].includes(value))
      toggleField('#fieldset-motif', value === 'nc')
      toggleField('#fieldset-autre_motif', value === 'nc' && indicateurMotif.value === 'autre')
    }

    function toggleField(selector, enabled) {
      document.querySelector(selector).disabled = !enabled
    }
  }
</script>
