{% include label.html label=include.label name=include.name required=include.required %}
<select
  id="field--{{include.name}}"
  name="{{include.name}}"
  {% if include.required %}required{% endif %}
>
  {% if include.empty %}
  {% else %}
  <option value=""> --- </option>
  {% endif %}
</select>

{% if include.dataset %}
<script>
  fetch('/datasets/{{ include.dataset }}.json')
  .then(function(r){ return r.json() })
  .then(function(data) {
    var select = document.getElementById('field--{{include.name}}')
    for(var k in data) {
      var option = document.createElement('option')
      option.value = data[k].value
      option.textContent = data[k].name
      option.value = k
      option.textContent = k
      option.selectedData = data[k]
      select.appendChild(option)
    }
  })
</script>
{% endif %}
